

.glpb-com-layout_column{
  float: left;
}

//编辑器中的样式
.gplb-sys-editor{
  .glpb-com-layout_column{

    //操作栏放到右侧
    &> .glpb-editor-setting-wrap .gplb-editor-setting-bar{
      right: 0;
      left: auto;
    }


    .glpb-com-content{
      //padding: 20px;
      //min-height: 100px;
    }
  }
}