
.style-editor-type-input{

  .style-editor-label{
    color: #fff;
  }

  .style-edit-input{
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    height: 40px;
    line-height: 40px;
    border: 0 none;
  }
}