

.lpb-component{
  width: 60px;
  height: 60px;
  outline: 2px dashed lightblue;
  text-align: center;
}

//拖拽过程中的组件
.gplb-com-drag-holder{
  width: 100px;
  height: 100px;
  outline: 1px solid red;
}

#lpb-com-container{

  margin: 50px auto;

  .lpb-component{
    float: left;
    width: 60px;
    height: 60px;
    outline: 2px dashed lightblue;
    text-align: center;
    margin: 10px auto;
  }
}

#lpb-com-editor{
  margin: 100px 100px;
  min-height: 1300px;
  background: #ebfbe6;

  .lpb-component{
    width: 100%;
    outline : 2px dashed gray;
    min-height: 100px;
  }

  .ui-state-highlight{
    height: 80px;
    background: orange;
  }
}