

.glpb-component{
  position: relative;
}

//编辑状态下的
.gplb-sys-editor{

  //全局通用的组件编辑栏
  .glpb-editor-setting-wrap{
    display: none;
    position: relative;
    height: 0;
    z-index: 10;
    overflow: visible;

    .gplb-editor-setting-bar{
      position: absolute;
      height: 25px;
      left: 0;
      top: 0;
      background: #fff;
      //-webkit-transform: translateY(-100%);
      //-moz-transform: translateY(-100%);
      //-ms-transform: translateY(-100%);
      //-o-transform: translateY(-100%);
      //transform: translateY(-100%);

      //操作小按钮
      .glpb-editor-op-btn{
        float: left;
        width: 26px;
        height: 26px;
        margin-right: 10px;
        font-size: 26px;
        line-height: 26px;
        color: orange;
      }

      .editor-op-more{
        float: left;
        width: 0;
        height: 100%;
        overflow: hidden;
        //-webkit-transition: all .4s ease-out 1.1s;
        //transition: all .4s ease-out 1.1s;
      }
    }
  }

  .editor-op-show-more{
    .gplb-editor-setting-bar{
      .editor-op-more{
        width: 210px;
      }
    }
  }

  //显示组件操作栏
  .glpb-editor-bar-showing{
    &>.glpb-editor-setting-wrap{
      display: block;
    }
  }

  .glpb-component{
    outline: 1px dashed #848484;

    //&:hover{
    //  outline: 1px dashed #848484;
    //}
  }

  .custom-state-active{
    outline: 2px dashed blue;
  }

  .custom-state-hover{
    background: lightblue;
  }

  //组件正处于编辑中的样式
  .glpb-editor-com-editing{
    outline: 2px dashed deeppink;
  }
}